/* General styles */

* {
    box-sizing: border-box;
}

body {
    font: 100% / 1.125 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Helvetica, sans-serif, 'GNU Unifont';
    background: #222;
    color: #eee;
    border-color: #222;
    outline: #111;

    margin: 0;
}

.icon {
    padding-left: 25px;
    background-size: 20px;
}

button {
    background: #222;
    color: #eee;
    height: 30px;
    border: none;
    border-radius: 16px;
    padding: 6px 20px;

    font-family: "Carattere", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2em;
}

button:hover {
    background: #333;
}

::placeholder {
    font-weight: 600;
    font-style: italic;
}


/* Header styles */

header {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    padding: 8px 32px 20px;
    width: 100%;
    /*position: fixed;*/
    
    background: #111;
}

#heading-container {
    width: 500px;
}

#heading {
    display: flex;
    gap: 20px;
    width:fit-content;

    text-decoration: none;
}

#blog-title {
    color:#eee;
    font-weight: 400;
    font-style: normal;
    font-family: "Ephesis", cursive;
    font-size: 3em;

    margin-bottom: 0px;
    margin-top: 0px;
}

#searchbar {
    background: #222;

    display: flex;
    height: 30px;
    padding-left: 12px;
    border-radius: 16px;
}

#searchbar>input {
    border: none;
    outline: none;
}

#search-content {
    background: none;
    color:#eee;
}

#searchbar>.icon {
    background: url("res/search_icon.svg") no-repeat left;
}

#searchbar>.icon:hover {
    background: url("res/search_icon_hover.svg") no-repeat left;
}

#user-actions {
    width: 500px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap-reverse;
    gap: 10px;
}


/* Feed styles */

#feed {
    margin: 0 20%;
    padding: 20px 3%;
    min-height: calc(100vh - 82px);

    display: flex;
    flex-direction: column; /*swap to column-reverse for sorting by oldest first*/
    justify-content: start;
    gap: 20px;

    background:#333;

}

.post {
    background: #222;
    border-radius: 15px;
    padding: 20px 30px 40px;
    
    text-wrap: wrap;
    word-wrap: break-word;
}

.post>.button {
    background: #111;
}

h2 {
    margin-top: 0;
    padding-top: .3em;

    font-family: "Carattere", cursive;
    font-weight: 400;
    font-style: normal;
}


/* Font references */

.fleur-de-leah-regular {
    font-family: "Fleur De Leah", cursive;
    font-weight: 400;
    font-style: normal;
}

.ephesis-regular {
    font-family: "Ephesis", cursive;
    font-weight: 400;
    font-style: normal;
}

.carattere-regular {
    font-family: "Carattere", cursive;
    font-weight: 400;
    font-style: normal;
}
