/* General styles */

* {
    box-sizing: border-box;
}

body {
    font: 100% / 1.125 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Helvetica, sans-serif, 'GNU Unifont';
    background: #222;
    color: #eee;
    border-color: #222;
    outline: #111;

    margin: 0;
}

.icon {
    padding-left: 25px;
    background-size: 20px;
}

button {
    background: #222;
    color: #eee;
    height: 30px;
    border: none;
    border-radius: 16px;
    padding: 6px 20px;

    font-family: "Carattere", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2em;

    overflow: hidden;
    /* text-overflow: ellipsis; - doesn't work */
}

button:hover {
    background: #333;
}

::placeholder {
    font-weight: 600;
    font-style: italic;
}

::selection {
    background:#c93631;
}

::-moz-selection {
    background:#c93631b5;
}


/* Header styles */

header {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    padding: 8px 32px 20px;
    width: 100%;
    /*position: fixed;*/
    position: sticky;
    top: 0;
    
    background: #111;
}

#heading-container {
    width: 500px;
}

#heading {
    display: flex;
    gap: 20px;
    width:fit-content;

    text-decoration: none;
}

#blog-title {
    color:#eee;
    font-weight: 400;
    font-style: normal;
    font-family: "Ephesis", cursive;
    font-size: 3em;

    margin-bottom: 0px;
    margin-top: 0px;
}

#searchbar {
    background: #222;

    display: flex;
    height: 30px;
    padding-left: 12px;
    border-radius: 16px;
}

#searchbar>input {
    border: none;
    outline: none;
}

#search-content {
    background: none;
    color:#eee;
}

#searchbar>.icon {
    background: url("res/search_icon.svg") no-repeat left;
}

#searchbar>.icon:hover {
    background: url("res/search_icon_hover.svg") no-repeat left;
}

#user-actions {
    width: 500px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap-reverse;
    gap: 10px;
}

#user {
    background: #c93631b5;
    height: 30px;
    border-radius: 16px;
    padding: 6px 20px;

    font-family: "Carattere", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2em;

    cursor: default;
    user-select: none;
}


/* Feed styles */

#feed {
    margin: 0 20%;
    padding: 20px 3%;
    min-height: calc(100vh - 82px);

    display: flex;
    flex-direction: column; /*swap to column-reverse for sorting by oldest first*/
    justify-content: start;
    gap: 20px;

    background:#333;

    box-shadow: 0px 0px 40px 5px black;
}

.post {
    background: #222;
    border-radius: 15px;
    padding: 20px 30px 40px;
    
    text-wrap: wrap;
    word-wrap: break-word;
    overflow-y: hidden;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.post-title {
    margin: .3em 0;

    font-family: "Carattere", cursive;
    font-weight: 400;
    font-size: 1.8em;
    font-style: normal;
}

.post>button {
    background: url("res/delete_icon.svg") no-repeat right;
    padding: 10px 12px;
    margin: 6px;
    cursor:pointer;
}

.meta {
    width: 100%;
    font-weight: 200;
    letter-spacing: 0.08em;
    margin: 10px 0;
}

.post-title, .meta, .post-content {
    cursor: default;
}


/* New post creator styles below*/

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10;
    width: 80%;
    border: 1px solid #111;
    border-radius: 15px;
    padding: 25px 30px 15px;

    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    
    background-color: #333;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

#new-post-title, #new-post-content {
    background: #222;
    color:#eee;

    border: none;
    border-radius: 15px;
    max-width: 100%;
}

#new-post-title {
    font-family: "Carattere", cursive;
    font-weight: 400;
    font-size: 1.5em;
    font-style: normal;

    width: 60%;
    padding: 12px 24px;
}

#new-post-content {
    min-width: 100%;
    padding: 18px 24px;
}

.modal-header button {
    cursor: pointer;
    background: none;
    padding: 15px;
    margin-right: 5px;
    background-repeat: no-repeat;
    background-size: 30px;
}

#submit-button {
    background-image: url("res/submit_icon.svg");
}

#cancel-button {
    background-image: url("res/cancel_icon.svg");
}

#new-post-error {
    color: #c93631;
    font-style: italic;
    margin-top: 20px;
    padding-left: 10px;
}

#loading { /*make prettier maybe?*/
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111;
    pointer-events: none;
}

#loading.active {
    opacity: 1;
    pointer-events: all;
}


/* Font references */

.fleur-de-leah-regular {
    font-family: "Fleur De Leah", cursive;
    font-weight: 400;
    font-style: normal;
}

.ephesis-regular {
    font-family: "Ephesis", cursive;
    font-weight: 400;
    font-style: normal;
}

.carattere-regular {
    font-family: "Carattere", cursive;
    font-weight: 400;
    font-style: normal;
}